<!DOCTYPE html>
<html>

<head>
    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>


    <div id="sidebar">
        @if (User.Identity.IsAuthenticated)
        {

            <img src="~/css/img/self.JPG" alt="headshot" class="headshot" /> <!--create a folder in wwwroot for images. Alt becomes important for users that use screen readers - not all users can see img-->
            <span id="userName">@User.Identity.Name</span><!--Use user object-->
            <!--<span id="username"> Mark Anderson </span>-->
        }
        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-action="Trips" asp-controller="App">Your Trips</a></li>
                <li><a asp-action="Logout" asp-controller="Auth">Logout</a></li>
            }
            else
            {
                <li><a asp-action="Login" asp-controller="Auth">Login</a></li>
            }
        </ul>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">Anderson DevOps</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-save"></i> Save
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="footer" class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; 2017 Anderson Consulting</h4>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <environment names="Development">
        <script type="text/javascript" src="~/js/site.js"></script>
    </environment>
    <environment names="Production,Staging">
        <script type="text/javascript" src="~/lib/_app/site.js"></script>
    </environment>

    @RenderSection("scripts", false)

    <script src="~/js/site.js"></script>
</body>

</html>



@*<!--Copy all/[paste] from index.html-->
<!--Razor supports a number of C# constructs - onse is the  and braces to have arbitrary C# content in there-->
<!--add view with inject for wiring tag helper -->
<!--Tag helpers start with ASP-, so we know where they are coming from. eg. asp-controller  then asp-action...-->
<!-- inject IhostingEnvironment env - we want service to be available everywhere so we do it in Views, adding a new type of view Called MVC ViewImports Page --> 




<!DOCTYPE html>

<html> 

<head>

    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> <!--//not include theme.css (bootstraps default look & Feel) - we will use somethiong else later to them it -->
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" /> <!--select theme-->
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> <!--//trick in razor add tilda / : ~/ added in front - replace this with wahtever the actual ROOT of the website is-->
    
</head>

<body>

    <div id="sidebar">
        <!--Only show if we're logged in-->
        @if (User.Identity.IsAuthenticated)
        {
            <img src="~/img/self.jpg" alt="headshot" class="headshot" /> <!--create a folder in wwwroot for images. Alt becomes important for users that use screen readers - not all users can see img-->
            <span id="userName">@User.Identity.Name</span><!--Use user object-->
            <!--<span id="username"> Mark Anderson </span>-->
        }
        <ul class="nav">
            <!--another is navbar - includes navigation elements, and can include btns and such-->
            <!--<ul class="menu">-->
            <!--<li class="active"><a href="/">Home</a></li><!-- could simply add links with "/" -->
            <!--Better idea with Tag Helpers; Iinstead of href-->

            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li><!-- could simply add links with: href="/app/About"< -->
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li> <!--"/app/cont">Contact-->
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-action="Trips" asp-controller="App">Your Trips</a></li>
                <li><a asp-action="Logout" asp-controller="Auth">Logout</a></li>
            }
            else
            {
                <li><a asp-action="Login" asp-controller="Auth">Login</a></li>
            }
            
            <!--Tag helpers generates the href programmatically while being rendered on the server-->
            <!--ensure to enable tag helpers insert project; in Project.json add new dependency "Microsoft.AspNetCore.Mvc.TagHelpers": "1.1.2"-->
            <!--the wire them up, with another view; View Imports. In _Layout at top we can inViews now - "(a)inject -->
            <!--add view with inject for wiring tag helper -->
            <!-- inject IhostingEnvironment env - we want service to be available everywhere so we do it in Views, adding a new type of view Called MVC ViewImports Page -->
            
           
        </ul>
    </div>


    <div id="wrapper"><!--MAIN PART OF SITE-->
        <nav class="navbar navbar-inverse"><!--Navigation bar-->
            <div class="container-fluid"><!--Container is fixed size container-fluid spread over page-->
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <!--add BS -class:-->
                            <!--<i class="glyphicon glyphicon-chevron-left"></i> <!--Toggle can keep lbl on btn e.g. -- Toggle -- here-->
                            <!-- insted of bs  use fontawesome <i class="fa" issue-->
                        <button id="sidebarToggle" class="btn btn-primary">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>

                <!--create anchor so every page shows this, alo to return to main page especially if menu is not being shown-->
                <!--<a>ADPC DevOps</a>-->
                <!--<canvas put inert hfref,like this,  but instead lets use tag helpers-->
                    <!-- <a href="">ADPC DevOps</a>-->
                <a asp-controller="App" asp-action="Index" class="navbar-brand">Anderson DevOps</a>
                <ul class="nav navbar-nav navbar-right">
                    <li><!--create link and destination (which is this page (thats what the '#" represents"))-->
                        <a href="#" class="btn btn-sm ntn btn-info">
                            <i class="fa fa-save"></i> Save
                        </a>
                    </li>
                    <li>
                        <!--create link and destination (which is this page (thats what the '#" represents"))-->
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </li>
                </ul>
             </div>
        </nav>

        <div id="main" class="container-fluid">
            <div>
              @RenderBody() <!--CAll rzor function - this is the place holder - the part of the page im going to inject here-->
            </div>
        </div>

        <div id="footer" class="container-fluid">
            <!--add BS -class:-->
            <!--update to h4, text center, fix to bottom of page with navbar-->
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info"> &copy; 2017 ADPC. markandersonweb.com</h4>
                <!--<h3><img src="~/img/CloudDeliver.jpg" alt="headshot" class="headshot" /></h3>-->

            </div><!--FOOTER-->
        </div>
    </div>

    <!--//<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  
    <environment names="Development">
        <script type="text/javascript" src="~/js/site.js"></script>
    </environment>
    <environment names="Production,Staging">
        <script type="text/javascript" src="~/lib/_app/site.js"></script>
    </environment>

    @RenderSection("scripts", false)

    <script src="~/js/site.js"></script>

        <!--<script src ="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>-->
        <!--<script type ="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>-->


   
        <!--added from validation in bower json and contactpage-->
       <!-- @@enderSection("scripts", true)*<!--for pages that requires script to be run - to true. Allows part of code to be emitted in certain places.Referenced to Contact page-->*@
    
    <!--updated<script type="text/javascript" src="~/js/site.js"></script> <!--// made a reference to it in source folder wwwroot - js-->
  
